.card {
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    background-clip: content-box;
    border: 6px solid white;
    height: 400px;
    width: 400px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    position: relative;
    margin: 0 auto;
    margin-top: 30px;
    float: left;
  
  }
  
  .card > .img-container {
    /* height: 60%; */
    overflow: hidden;
    text-align: center;
    background:#6CADDC;
    position: relative;
  }
  .card > .img-container > img {
    width: 100%;
    height:300px;
    border-radius:5px 20px 5px;
  }